[Unit]
Description=POCSAGLocalTime Service
After=network.target time-sync.target

[Service]
Type=simple
ExecStart=/usr/local/bin/POCSAGLocalTime
User=mmdvm

[Install]
WantedBy=multi-user.target
